---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/blogs":
    get:
      summary: Retrieves all published blogs
      tags:
      - Blogs
      responses:
        '200':
          description: blogs found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    body:
                      type: string
                    published:
                      type: boolean
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    comments_count:
                      type: integer
                    comments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          body:
                            type: string
                          created_at:
                            type: string
                  required:
                  - id
                  - title
                  - body
                  - published
  "/api/v1/blogs/{id}":
    get:
      summary: Retrieves a blog
      tags:
      - Blogs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: blog found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  body:
                    type: string
                  published:
                    type: boolean
                  created_at:
                    type: string
                  updated_at:
                    type: string
                required:
                - id
                - title
                - body
        '404':
          description: blog not found
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
